<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cart</title>
  <style>
      body {
        font-family: Arial, sans-serif;
        background-image: linear-gradient(to bottom, #230e6d, #4e4a84);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin: 0;
        padding: 20px;
      }

      h1 {
        color: #333;
      }

      p {
        color: #3d266c;
      }

      a {
        text-decoration: none;
        color: #2f1060;
        padding: 10px 15px;
        border: 1px solid #3b1a78;
        border-radius: 5px;
        transition:
          background-color 0.3s,
          color 0.3s;
        display: inline-block;
        margin: 5px 0;
      }

      a:hover {
        background-color: #5c4272;
        color: white;
      }
      button {
        padding: 10px 15px;
        background-color: #230e6d;
        color: white;
        border: 1px solid #3b1a78;
        border-radius: 5px;
        font-size: 1.1em;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
      }

      button:hover {
        background-color: #5c4272;
        color: white;
      }

      .container {
        max-width: 1000px;
        margin: auto;
        background: rgb(224, 215, 245);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .box {
        list-style-type: none;
        padding: 0;
        max-width: 800px;
        margin: auto;
        background: rgb(234, 230, 243);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      }
      
      .container table {
        width: 100%;
        border-collapse: collapse;
      }

      .container table th, .container table td {
        padding: 10px;
        text-align: left;
      }

      .container table th {
        background-color: #3b1a78;
        color: white;
      }

      .container table tr:nth-child(even) {
        background-color: #f0f0f0;
      }
      
      .container table tr:hover {
        background-color: #9a6eac;
      }
      
    </style>
</head>
<body>
  <div class="container">
    <h1>Your products in the cart</h1>

    <% if (products.length === 0) { %>
      <p>Your cart is currently empty.</p><br>
      <p>Try to add some items to the cart</p>
    <% } else { %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <% let totalPrice = 0; %> 
          <% products.forEach(product => { %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.price %> zł</td>
              <td><%= product.quantity %></td>
              <td><%= (product.price * product.quantity).toFixed(2) %> zł</td>
              <td>
                <form action="/cart/remove" method="post" style="display:inline;">
                  <input type="hidden" name="productId" value="<%= product.id %>">
                  <button type="submit">Remove</button>
                </form>
              </td>
            </tr>
            <% totalPrice += product.price * product.quantity; %>
          <% }) %>
        </tbody>
      </table>

      <h3>In total: <%= totalPrice.toFixed(2) %> zł</h3>

      <form action="/cart/checkout" method="post">
          <button type="submit">Place an order</button>
      </form>

    <% } %>
    <br>
    
    <br>
    <a href="/products">Back to products list</a>
    <br /><br />
    <a href="/">Back to the index page</a>
    <br /><br />
    <a href="/admin/open">Check open orders</a>
    <br /><br />
    <a href="/admin/placed">Check placed orders</a>
  </div>
</body>
</html>
