<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Placed orders</title>
</head>
<body>
  <h1>All placed orders, already submitted by users</h1>
  <% if (orders.length > 0) { %>
    <ul>
      <% let currentOrderId = null; %>
      <% orders.forEach(order => { %>
        <% if (currentOrderId !== order.order_id) { %>
          <% currentOrderId = order.order_id; %>
          <h2>Order ID: <%= order.order_id %> (User: <%= order.user_name %>)</h2>
          <p>Date: <%= new Date(order.created_at).toLocaleString() %></p>
        <% } %>
        <li>
          Product: <%= order.product_name %><br>
          Description: <%= order.product_description %><br>
          Price: <%= (Number(order.product_price)).toFixed(2) %> zł<br>
          Quantity: <%= order.quantity %>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>There are no placed orders now.</p>
  <% } %>
</body>
</html>
