<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title>
</head>
<body>
  <h1>Looking for a certain product in our offer?</h1>
  <p>Try using the search form below:</p>
  <p>(It lists all product of name or description with matching phrase)</p>


  <!-- Formularz wyszukiwania -->
  <form action="/products/search" method="get">
    <label for="query">Enter phrase</label>
    <input type="text" id="query" name="query" value="<%= searchQuery %>" required>
    <button type="submit">Search</button>
  </form>

  <!-- Wyniki wyszukiwania -->
  <% if (products.length > 0) { %>
    <h2>Results:</h2>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(product => { %>
          <tr>
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else if (searchQuery) { %>
    <p>No results found for "<%= searchQuery %>".</p>
  <% } %>
  <br /><br />
  <a href="/">Back to the index page</a>
  <br /><br />
  <a href="/admin/users">See users list</a>
</body>
</html>
